html, body {
	height: 100vh;
}
/*c-c stands for comm-conversation*/
/*conversation list*/
.c-c-profile {
	margin-right: 15px;
	width: 24px;
	height: 24px;
}
.c-c-name {

}
.c-c-badge {
	margin-top: 3px;
}
/*conversation panel*/
.c-c-panel {
}
.c-c-heading {

}
.c-c-heading .close {
	color: #FFFFFF;
	opacity: 1.0;
}
.c-c-title img {
	margin-right: 10px;
}
.c-c-title {
	font-size: 26px;
	font-weight: 300;
}
.c-c-description {
	font-size: 16px;
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 6px;
}
.c-c-link, .c-c-link a {
	font-size: 12px;
	color: white;
}
.c-c-body {
	overflow-y: auto;
	height: 660px;
}
/*conversation message*/
.c-c-message {
	border-radius: 3px;
	border: 1px solid #3b73af;
	padding: 5px 8px;
	margin: 6px 0px;
	float: left;
}
.c-c-message-heading {

}
.c-c-message-self {
	float: right;
	background-color: #fcf8e3;
}
.c-c-message-self .c-c-message-heading {
	text-align: right;
}
.c-c-message-from {

}
.c-c-message-time {
	font-size: 12px;
	color: #666666;
}
.c-c-message-content {

}